<VirtualHost *:80>
    ServerName atla.local
    ServerAlias www.atla.local
    DocumentRoot /var/www/atla/www
	<Directory /var/www/atla/www>
		Options FollowSymLinks
		AllowOverride All
		RewriteEngine On
	</Directory>
</VirtualHost>