[XDebug]
; zend_extension="/usr/local/Cellar/php54-xdebug/2.3.3/xdebug.so"
xdebug.remote_enable=on
xdebug.remote_enable=1
xdebug.remote_handler=dbgp
xdebug.remote_mode=req
xdebug.remote_host=127.0.0.1
xdebug.remote_port=9000
xdebug.remote_autostart=on
xdebug.max_nesting_level=256
xdebug.idekey="netbeans-xdebug"

memory_limit = 1024M

apc.enabled=1
apc.shm_segments=1
apc.shm_size=512M
apc.rfc1867 = 1

pdo_mysql.default_socket = /tmp/mysql.sock